@model IEnumerable<SortableCollections.Models.Contact>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contacts</title>
</head>
<body>
    @if (Model.Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["Id"]">@Html.DisplayNameFor(model => model.Id)</a>
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["Name"]">@Html.DisplayNameFor(model => model.Name)</a>
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["City"]">@Html.DisplayNameFor(model => model.City)</a>
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["State"]">@Html.DisplayNameFor(model => model.State)</a>
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["Phone"]">@Html.DisplayNameFor(model => model.Phone)</a>
                        </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var contact in Model)
                {
                <tr>
                    <td>@contact.Id</td>
                    <td>@contact.Name</td>
                    <td>@contact.City</td>
                    <td>@contact.State</td>
                    <td>@contact.Phone</td>
                </tr>
                }
             </tbody>
        </table>
    }
    else
    {
        <h2>No contact data found.</h2>
    }
</body>
</html>
